body {
    background-color: #252525;
    color: darkorange;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.reddit_songs {
    color: blue;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.aligned {
    display: inline-block;
    text-align: right;
}


.top-nav {
    background-color: darkorange;
    overflow: hidden;
}

.top-nav a {
    float: left;
    color: black;
    text-shadow: 0px 0px;
    text-align: center;
    padding: 14px 16px;
    padding-left: 20px;
    padding-right: ;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.top-nav a:hover {
    background-color: white;
    color: black;
}

.top-nav a.active {
    background-color: darkorange;
    color: white;
    text-shadow: 1.5px 1.5px black;
}

