<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Playlist Generator</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    </head>

    <body>
        <h1>Spotify Playlist Generator!</h1>
        <h3>Click which playlist type you want to create.</h3>

        <form action='http://localhost:5000/reddit'>
            <button id='go_to_reddit'>Reddit Playlist</button>
        </form>

        <form action='http://localhost:5000/playlist_generator'>
            <button id='go_to_playlist_generator'>Standard Playlist Generator</button>
        </form>   
        
    </body>

</html>