<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Playlist Generator</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    </head>

    <body>
        <h1>Personalized Spotify Playlist Generator!</h1>
        <h3>Enter your Spotify username and the name of your playlist.</h3>
        <h4>Enter items in at least one category of artists, genres, or track names! Click submit when done.</h4>

        <div>Spotify Username: <input id='spotify_username'></div>
        <div>Playlist Name: <input id='playlist_name'></div>

        <h4>Enter names of artists/tracks/genres; separate entries by comma (,).</h4>
        <p>Ex: Twenty One Pilots, Beach House, Maroon 5</p>

        <div>Artists: <input id='artists'></div>
        <div>Tracks: <input id='tracks'></div>
        <div>Genres: <input id='genres'></div>

        <button id='generate_playlist'>Generate Playlist!</button>
        <p id='songs_are_added'></p>
        
        {% if data != None %}
            <br>
            <button id='add_songs'>Save to Spotify!</button>
            {% for track in data %}
                <p class='generated_songs'>{{ track.artists[0].name }} - {{ track.name }}</p>
            {% endfor %}
        {% endif %}

        <script>
            //$(document).ready(function(){

                $('#generate_playlist').click(function() {
                    console.log('get was clicked')
                    $('.generated_songs').html('')
                    $.ajax({
                        url: "/_get_playlist",
                        type: "POST",
                        datatype: 'json',
                        data: JSON.stringify({
                            'spotify_username': $('#spotify_username').val(),
                            'playlist_name': $('#playlist_name').val(),
                            'raw_artists': $('#artists').val(),
                            'raw_tracks': $('#tracks').val(),
                            'raw_genres': $('#genres').val()
                        }),
                        success: function (response) {
                            console.log('success! data sent to backend.')
                            document.write(response)
                        },
                        error: function (xhr) {
                            console.log('ERROR')
                            console.log(xhr)
                        }
                    });
                });
            //})

            $(document).on('click', '#add_songs', function() {
                console.log('add was clicked')
                $('.generated_songs').html('')
                $('#songs_are_added').html('Songs added! Redirecting to homepage...')
                $.ajax({
                    url: "/_add_songs",
                    type: "POST",
                    datatype: 'json',
                    data: JSON.stringify({
                        'spotify_username': $('#spotify_username').val(),
                        'playlist_name': $('#playlist_name').val()
                    }),
                    success: function (response) {
                        console.log('success! Songs added!')
                        window.location.href = 'http://localhost:5000/'
                    },
                    error: function (xhr) {
                        console.log('ERROR')
                        console.log(xhr)
                    }
                });
            });

        </script>
        
    </body>

</html>